<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583751085628-vo13o241vnc1g7gpsmhj7ds7jr194kb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583751085628-vo13o241vnc1g7gpsmhj7ds7jr194kb2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583751085628-0alc2huf7487up0umgc5tat2r760uasl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5zOpVCY33ZCLcd4QrqbdayrGuOPpYh5w</string>
	<key>GCM_SENDER_ID</key>
	<string>583751085628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speaklogic.feedbackWork</string>
	<key>PROJECT_ID</key>
	<string>feedback-work-61234</string>
	<key>STORAGE_BUCKET</key>
	<string>feedback-work-61234.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583751085628:ios:1496d40a57c1e0b350dd39</string>
	<key>DATABASE_URL</key>
	<string>https://feedback-work-61234-default-rtdb.firebaseio.com</string>
</dict>
</plist>